body {
    margin: 0;
    padding: 0;
}

@keyframes animation-div {
    25% {
        transform: translateX(300px)
    }

    50% {
        transform: translateX(300px) translateY(300px);
    }

    75% {
        transform: translateY(300px);
    }
}

.div-container {
    width: 400px;
    height: 400px;
    background-color: beige;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.div-move {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: animation-div 4s linear infinite;
}