body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes animation-div {
    25% {
        transform: translateX(300px)
    }

    50% {
        transform: translate(300px,300px)
    }

    75% {
        transform: translateY(300px);
    }
}

.div-container {
    width: 400px;
    height: 400px;
    background-color: beige;
}

.div-move {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: animation-div 10s linear infinite;
}